name: Create and publish a Docker image (ubuntu)

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2

      - uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v3
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - uses: docker/build-push-action@v2
        with:
          file: scripts/docker/ubuntu20.04/Dockerfile
          push: true
          tags: ${{ env.GITHUB_REF_NAME }}ubuntu20.04
          labels: ${{ env.GITHUB_REF_NAME }}ubuntu20.04
